html, body{
    width: 100%;
    height: 100vh;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style: none;
}

label, input, button,
select,textarea{
    appearance: none;
    border: none;
    outline: none;
    background-color: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    --white : rgb(167, 157, 131);
    background-color: var(--white);
}
.main{
    width: 80%;
    height: 80%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;

    --borderRadius: 14px;
    --blue : rgb(202, 205, 208);
    --yellow : rgb(219, 199, 174);
    --shadow :rgb(136, 132, 132);
    
}
/* left side */
.left{
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    background-color: var(--blue);
    box-shadow: 0px 1px 5px 2px var(--shadow);
    padding: 10px;
    position: relative;

    display: grid;
    gap: 8px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.leftSideHeader{
    position: relative;
}

.left h2 {
    margin-left: 8px;
}

.formContainer{
    display: flex;
    gap: 6px;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;

    background-color: blue;
    position: absolute;
    width: 80%;
    height: auto;
    border: 1px solid black;
    border-radius: 6px 2px 6px 6px;
    background-color: whitesmoke;
    right: 30px;
    top: 19px;
    padding: 10px;
}

.projectLabel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectInput{
    appearance: none;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px 10px;
    height: 26px;
    max-width: 90%;
}

.projectButton{
    appearance: none;
    width: 50px;
    height: 26px;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid black;
}


.left .projectsArea{
    border-radius: var(--borderRadius);
    border: 2px solid rgb(118, 116, 116);
    padding: 8px;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 15px;

    
}

.projectsArea .project{
    background-color: var(--yellow);
    border-radius: 6px;
    height: 29px;
    width:fit-content;
    box-shadow: 1px 1px 2px 1px var(--shadow);
    cursor: pointer;
    

    display: flex;
    align-items: center;
    padding: 1px 6px;
}


.removeIcon{
    width: 18px;
    border: 2px solid black;
    border-radius: 15%;
    margin-left: 4px;
}


.iconAddProject{
    width: 30px;
    position:absolute;
    top: 0px;
    right: 8px;
    color: blue;
    cursor: pointer;
}

/* end left side */

/* right side */
.right{
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    background-color: var(--yellow);
    box-shadow: 1px 1px 5px 2px var(--shadow);

    padding: 10px;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.rightSideHeader{
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px var(--shadow);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 223, 208);
    font-size: 14px;
    margin-right: 45px;
}

.allTodos{

}

.todoContainer{
    width: 100%;
    height: 60px;
    background-color: var(--blue);
    border-radius: var(--borderRadius);
    box-shadow : 1px 1px 2px 1px var(--shadow)
}

.addTodoIcon{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 10px;
    background-color: transparent;
    visibility: hidden;
}

.addTodoIcon.active{
    visibility: visible;
    cursor: pointer;
}

.addTodoIcon:disabled{
    cursor:auto;
    visibility:hidden;
}

.todoForm{
    position: absolute;
    width: 300px;
    height: 330px;
    background-color: var(--blue);
    border-radius: var(--borderRadius);
    top: 8px;
    right: 10px;
    border: 2px solid rgb(118, 116, 116);
    padding: 6px;
}

.todoForm li{
    margin-bottom: 3px;
    height: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 20px;
}

.todoForm input, select, textarea{
    border: 2px solid rgb(118, 116, 116);
    padding: 2px 10px;
    border-radius: 3px;
    height: 25px;
}

textarea{
    height: 152px;
    padding: 4px;
}

.todoForm input:focus{
    border: 2px solid black;
    
}


.todoformHeader{
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgb(118, 116, 116);
    margin-bottom: 6px;
}

.todoForm .lastLi{
    height: 155px;
}

.todoForm button:first-of-type{
    margin-left: 10px;
}

.todoFormButton{
    width: 50px;
    height: 25px;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}

.todoFormButton:hover{
    background-color: rgb(168, 168, 168);
}

.allTodos{
    padding-left: 40px;
}

.todoLi{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 28px;
    grid-auto-rows: 1fr;

    height: 28px;
    transition: all .3s ease;

    background-color: var(--blue);
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px var(--shadow);
    margin-bottom: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.dropDownIcon{
    width: 20px;
    height: 20px;
}

.dropDownContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todoLi.expand{
    height: 440px;
}

.todoLi.low{
    border-right: 10px solid #f9e54e;
}
.todoLi.medium{
    border-right: 10px solid #f5a65d;
}
.todoLi.high{
    border-right: 10px solid #c75e5e;
}

.topContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 20px;
    grid-template-rows: 1fr;
    gap: 5px;
}

.todoLabel{
    display: flex;
    gap: 6px;
    cursor:pointer ;
    position: relative;
}

.todoLabel p:first-child{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.todoLi p {
    display: flex;
    align-items: center;
}

.todoLabel::before{
    content: "";
    background: url("../img/greenCheckMark.svg");
    background-position: center;
    background-size: contain;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -38px;
    bottom: 0px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier( 0.54, 0.01, 0, 1.49);
}

.checkBox:checked + label::before{
    transform: scale(1) rotateZ(0deg);
}

.todoLabel::after{
    content: "";
    border: 2px solid rgb(72,164,68);
    position: absolute;
    width: 22px;
    height: 22px;
    left: -38px;
    bottom: 0px;
    border-radius: 50%;
}

.checkBox{
    display: none;
}


.editTodoForm{
    display: none;
    justify-self: center;
    width: 97%;
    height: 100%;
    border: 1px solid black;
    margin-left: 10px;

    padding: 10px;

}

.editTodoForm.visible{
    display: block;
    
}

.editTodoForm.visible {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;

    display: flex;
    flex-direction: column;
    gap: 10px
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.todoEditDiv{
    display: flex;
    height: 25px;
    align-items: center;
}

.todoEditDiv label{
    width: 75px;
    padding-right: 10px;
}

.todoEditDiv input{
    width: 120px;
}

.todoEditDiv input,.todoEditDiv select,.todoEditDiv textarea{
    border: 2px solid rgb(118, 116, 116);
    padding: 2px 10px;
    border-radius: 3px;
    height: 25px;
}

.todoEditLastDiv{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 80px 1fr;
    align-items: baseline;
    height: 132px;
}

.todoEditLastDiv textarea{
   height: 132px;
   padding: 6px 10px;
}

textarea{
    resize: none;
}






/* end right side */

