html, body{
    width: 100%;
    height: 100vh;
    
}

*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    --white : rgb(167, 157, 131);
    background-color: var(--white);
}
.main{
    width: 80%;
    height: 80%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;

    --borderRadius: 14px;
    --blue : rgb(202, 205, 208);
    --yellow : rgb(219, 199, 174);
    --shadow :rgb(136, 132, 132);
    
}

.left{
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    background-color: var(--blue);
    box-shadow: 0px 1px 5px 2px var(--shadow);
    padding: 10px;

    display: grid;
    gap: 8px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

}
.right{
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    background-color: var(--yellow);
    box-shadow: 1px 1px 5px 2px var(--shadow);
}
.leftSideHeader{
    position: relative;
}

.left h2 {
    margin-left: 8px;
}

.left .projectsArea{
    border-radius: var(--borderRadius);
    border: 2px solid rgb(169, 169, 169);
    padding: 8px;
}

.projectsArea .project{
    list-style: none;
    background-color: var(--yellow);
    border-radius: 6px;
    border: 2px solid rgb(169, 169, 169);
    height: 29px;

    display: flex;
    align-items: center;
    padding-left: 5px;

    position: relative;
}


.icon{
    width: 30px;
    position:absolute;
    top: 0px;
    right: 8px;
    color: blue;
    cursor: pointer;
}
