html, body{
    width: 100%;
    height: 100vh;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

label, input, button,
select,textarea{
    appearance: none;
    border: none;
    outline: none;
    background-color: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    --white : rgb(167, 157, 131);
    background-color: var(--white);
}
.main{
    width: 80%;
    height: 80%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;

    --borderRadius: 14px;
    --blue : rgb(202, 205, 208);
    --yellow : rgb(219, 199, 174);
    --shadow :rgb(136, 132, 132);
    
}
/* left side */
.left{
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    background-color: var(--blue);
    box-shadow: 0px 1px 5px 2px var(--shadow);
    padding: 10px;
    position: relative;

    display: grid;
    gap: 8px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.leftSideHeader{
    position: relative;
}

.left h2 {
    margin-left: 8px;
}

.formContainer{
    display: flex;
    gap: 6px;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;

    background-color: blue;
    position: absolute;
    width: 80%;
    height: auto;
    border: 1px solid black;
    border-radius: 6px 2px 6px 6px;
    background-color: whitesmoke;
    right: 30px;
    top: 19px;
    padding: 10px;
}

.projectLabel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectInput{
    appearance: none;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px 10px;
    height: 26px;
    max-width: 90%;
}

.projectButton{
    appearance: none;
    width: 50px;
    height: 26px;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid black;
}


.left .projectsArea{
    border-radius: var(--borderRadius);
    border: 2px solid rgb(118, 116, 116);
    padding: 8px;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 15px;

    
}

.projectsArea .project{
    background-color: var(--yellow);
    border-radius: 6px;
    height: 29px;
    width:fit-content;
    box-shadow: 1px 1px 2px 1px var(--shadow);
    cursor: pointer;
    

    display: flex;
    align-items: center;
    padding: 1px 6px;
}

.removeIcon{
    width: 18px;
    border: 2px solid black;
    border-radius: 15%;
    margin-left: 4px;
}


.iconAddProject{
    width: 30px;
    position:absolute;
    top: 0px;
    right: 8px;
    color: blue;
    cursor: pointer;
}

/* end left side */

/* right side */
.right{
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    background-color: var(--yellow);
    box-shadow: 1px 1px 5px 2px var(--shadow);

    padding: 10px;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.rightSideHeader{
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px var(--shadow);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 223, 208);
    font-size: 14px;
}

.allTodos{

}

.addTodoIcon{
    position: absolute;
    width: 40px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.todoForm{
    position: absolute;
    width: 300px;
    height: 330px;
    background-color: var(--blue);
    border-radius: var(--borderRadius);
    bottom: 10px;
    right: 10px;
    border: 2px solid rgb(118, 116, 116);
    padding: 6px;
}

.todoForm li{
    margin-bottom: 3px;
    height: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 20px;
}

.todoForm input, select, textarea{
    border: 2px solid rgb(118, 116, 116);
    padding: 2px 10px;
    border-radius: 3px;
    height: 25px;
}

textarea{
    height: 152px;
    padding: 4px;
}

.todoForm input:focus{
    border: 2px solid black;
    
}


.todoformHeader{
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgb(118, 116, 116);
    margin-bottom: 6px;
}

.todoForm .lastLi{
    height: 155px;
}

.todoForm button:first-of-type{
    margin-left: 10px;
}

.todoFormButton{
    width: 50px;
    height: 25px;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}

.todoFormButton:hover{
    background-color: rgb(168, 168, 168);
}

/* end right side */

